*, html, body {
    box-sizing: border-box;
}

$primary-color: linear-gradient(to right,#a3a8f0,hsl(237, 63%, 64%));
$color-very-light-grayish-blue: #f6f6fe;
$color-light-grayish-blue: hsl(234, 14%, 74%);
$color-grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);

$body-font-size: 15px;
$primary-font-family: 'Montserrat', sans-serif;
$primary-font-weight: 700;

html, body {
    height: 100%;
}

.toggle-price {
    .monthly-price {
        display: none !important;
    }

    .annaully-price {
        display: block !important;
    }
    #annaully {
        color: $color-light-grayish-blue !important;
    }
    #monthly {
        color:hsl(228, 45%, 44%);
    }
}


body{
    font-size: $body-font-size;
    font-weight: 700;
    font-family: $primary-font-family;
    background-image: url("./assets/images/bg-top.svg");
    color: $color-grayish-blue;
    background-position: right top;
    background-repeat: no-repeat;
    background-color: $color-very-light-grayish-blue;
   /*  background-size: 20px; */

   @media only screen and (min-width: 600px) {
    background-image: url("./assets/images/bg-top.svg"), url("./assets/images/bg-bottom.svg");
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;

    }
    
}

.btn {
    border:none;
    border-radius: 5px;
    background: $primary-color;
    text-transform: uppercase;
    text-decoration: none;
    font-kerning: 2px;
    color: #fff;
    width: 100%;
    padding: .5em 1em;
    display: block;

    &.btn-light {
        color: hsl(237, 63%, 64%);
        background: #fff; 
    }

}

.site-wrapper {

    .price-plans{
        margin:auto;
        max-width: 1440px;
        margin-top: 3em;

        h1 {
            text-align: center;
        }

        .price-toggle-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1em;
            color: $color-light-grayish-blue;
            margin-bottom: 2em;
            #annaully{
                color:hsl(228, 45%, 44%);
            }

            .toggle-btn {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;

                #checkbox {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);  
                    }
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $primary-color;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 34px;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s; 
                        border-radius: 50%; 
                    }
                }
            }

            @media only screen and (min-width: 600px) {
                margin-bottom: 4em;
            }

            @media only screen and (min-width: 1440px) {
                margin-bottom: 5em;
            }

        }

        .price-plans-components {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 1em;
            .price-plans-component {
                background-color: #fff;
                padding: 1em;
                border-radius: 15px;
                text-align: center;
                -webkit-box-shadow: -3px 7px 18px 2px rgba(163,168,240,0.3); 
                box-shadow: -3px 7px 18px 2px rgba(163,168,240,0.3);
                .price {
                    font-size: 45px;
                    color: $dark-grayish-blue;
                    margin: 0.5em 0;
                }

                .monthly-price {
                    display: block;
                    /* &.show {
                        display: block;
                    }
                    
                    &.hide {
                        display: none;
                    } */

                }

                .annaully-price {
                    display: none;
                    /* &.show {
                        display: block;
                    }
                    
                    &.hide {
                        display: none;
                    } */
                }
                .included {
                    margin:0 0 2em 0;
                    padding:0;
                    width: 100%;
                    list-style: none;
                    list-style-position: outside;
                    text-align: center;
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    li {
                        padding: 1em 0;
                        border-top: 1px solid rgba(191, 191, 191, 0.5);
                        display: block;
                        width: 100%;

                        &:last-child {
                            border-bottom: 1px solid rgba(191, 191, 191, 0.5);
                        }
                    }
                }

                &.promo {
                    
                    color: #fff;
                    background: $primary-color;
                    .price {
                        color: #fff;
                    }

                    @media only screen and (min-width: 600px) {
                        margin: -30px 0;
                    }
                }

                &:first-child {
                    @media only screen and (min-width: 600px) {
                        border-radius: 15px 0 0 15px;
                    }
                }

                &:last-child {
                    @media only screen and (min-width: 600px) {
                        border-radius: 0 15px 15px 0;
                    }
                }

            }
            @media only screen and (min-width: 375px) {
                
                justify-content: center;
            }
            @media only screen and (min-width: 600px) {
                grid-template-columns: repeat(3,1fr);
                grid-gap: 0;
            }

            @media only screen and (min-width: 1440px) {
                grid-template-columns: repeat(3,1fr);
                grid-gap: 0;
                justify-content: center;
            }
        }

        @media only screen and (min-width: 600px) {
            margin-top: 4em;
        }

        @media only screen and (min-width: 1440px) {
            margin-top: 5em;
        }

    }

    @media only screen and (min-width: 600px) {
        padding-inline: 2em;
    }
}

footer {
    position: sticky;
    top: 100vh;
    padding: 3em 1em;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (min-width: 375px) {

}

@media only screen and (min-width: 800px) {

}

@media only screen and (min-width: 1440px) {
    
}


